
<ul class="nav nav-pills pull-right">
  <% if user_signed_in? %>
    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
  <% elsif admin_signed_in? %>
    <li> <%= link_to "Sign out",destroy_admin_session_path,:method => :delete %></li>
  <% else %>
    <%= link_to "Admin Login",new_admin_session_path, :class => "btn btn-success"%> 
    <!--<li><%= link_to "Sign in", new_user_session_path %></li>
    <li><%= link_to "Sign up", new_user_registration_path %></li> -->
  <% end %>
</ul>
